<h1>Chat Rooms</h1>
<p class="lead"><%= link_to 'New chat room', new_chat_room_path, class: 'btn btn-primary' %></p>

<ul>
  <%= render current_user.chat_rooms  %>

  <% current_user.memberships.each do |member| %>
    <%= render member.chat_room %>
  <%end%>

</ul>
