

<div class="row col-md-8 col-md-offset-2">
  <h1><%= @chat_room.title %></h1>
  <div class="panel panel-default">
    <% if @chat_room.messages.any? %>
      <div class="panel-body" id="messages">
        <%= render partial: 'messages/message', collection: @chat_room.messages %>
      </div>
    <%else%>
      <div class="panel-body hidden" id="messages">
      </div>
    <% end %>
    <%= render partial: 'messages/message_form', locals: {message: @message, chat_room: @chat_room} %>
</div>
