// Place all the styles related to the chat_rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chat-room-show-container{
  display:flex;
}

.friends-list-container{
  width: 220px;
  background-color: rgb(74,58,74)
}

.msg-contaienr {
  width: calc(100%-220px);
}
